---
const platform = "github";
const username = "enzonjagi";
import Social from "../components/Social.astro";
---

<footer>
    <p>
        <Social platform="instagram" username="njagi_ndungo" />
        <Social platform="tiktok" username="@njagi_ndungo" />
        <Social platform="github" username="enzonjagi" />
        <Social platform="youtube" username="@njagi_ndungo" />
    </p>
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
